body{
    background: linear-gradient(to right, red, blue);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: large;
}

h3{

    font-family: 'Courier New', Courier, monospace;
    color:black;
    font-size: larger;

}